@import './variables.scss';

.main-container {
  position: relative;
  min-height: 100%;
  margin-left: $sidebarWidth;
  transition: margin-left 0.28s;
}
.sidebar-container {
  position: fixed;
  width: $sidebarWidth !important;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $menuBgColor;
  font-size: 0px;
  transition: width 0.28s;
  z-index: 1001;
  overflow: hidden;

  a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }
  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }

  .is-horizontal {
    display: none;
  }

  .el-scrollbar {
    height: 100%;
  }
}

.hide-sidebar {
  .main-container {
    margin-left: $hiddenSidebarWidth;
  }

  .sidebar-container {
    width: $hiddenSidebarWidth !important;
  }
}
