/* fade-transform */
.fade-transform-enter-active {
  transition: all 0.25s;
}
.fade-transform-leave-active {
  transition: all 0.5s;
}
.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-from,
.breadcrumb-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
.breadcrumb-enter-active,
.breadcrumb-leave-active,
.breadcrumb-move {
  transition: all 0.5s;
}
