// sidebar
$menuBgColor: #f5f6f7;
$menuItemHoverBgColor: #ebebeb;

$menuTextColor: #bfcbd9;
$menuActiveTextColor: #409eff;

$subMenuBgColor: #f7f8f9;
$subMenuItemHoverBgColor: #ebebeb;
$subMenuActiveTextColor: $menuActiveTextColor;

$sidebarWidth: 210px;
$hiddenSidebarWidth: 54px;

// login page
$loginColor_bg: #283443;
$loginColor_lightGray: #eee;
$loginColor_darkGray: #889aa4;
$loginColor_cursor: #fff;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuBgColor: $menuBgColor;
  menuTextColor: $menuTextColor;
  menuActiveTextColor: $menuActiveTextColor;
  sidebarWidth: $sidebarWidth;
  hiddenSidebarWidth: $hiddenSidebarWidth;
}
